
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Rubik+Glitch&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family:  "Fraunces", serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%
}
* {
  cursor: none;
}